{% extends "base.html" %}

{% block content %}
<div class="container">
       <div id ="top_area">
    <h4 class="ops_title">The Best App | Reset Password</h4>
         </div>
    <form method="post">
        <div class="input-field">
            <input type="password" name="password" id="password" required>
            <label for="password">New Password</label>
        </div>
        <button type="submit" class="btn waves-effect waves-light">Reset Password</button>
    </form>
</div>
{% endblock %}
